body {
  background-color: lemonchiffon;
}

.wrapper {
  padding: 80px;
  max-width: 400px;
  margin-inline: auto;
}

.title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: slateblue;
    text-align: center;
  }  

.input {
    margin-top: 10px;
    text-align: center;
}

#output {
    overflow: auto;
    height: 1200px;
}

#send {
    background-color: cadetblue;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
  }

.chat {
    background-color: lightpink;
    padding: 15px;
    border-radius: 10px; /* 角丸を調整 */
    margin-bottom: 10px; 
    max-width: 50%;
  }

.chat.right {
  float: right;
}

.chat.left {
  float: left;
}

.message {
  text-align: left;
}

  .delete {
    background-color: cadetblue;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }